/* Place CSS styles here */

nav {
    text-align: left;
    margin-top: 10px
}

body {
    background: #90ee90;
    text-align: center;
    width: 80%;
    margin: auto;
    color: #ffc0cb;
}


a {
    color: orange;
}


a {
    color: #006400;
    border-radius: 2px;
}

a:focus-visible {
    outline: #006400 solid 2px;
}

p {
    color: #800080;
}


nav a {
    font-size: 18px;
    font-weight: 500;
    margin-right: 4px;
    background-color: #006400;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.25s ease;
}

nav a:hover{
    background-color: #002500;
}

.intro-copy {
    color: #c459e1;
}

.biggest {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.logo {
    max-width: 100px;
}

.home-caption {
    text-align: left;
}

.breakfast-list {
    list-style-position: inside;
}

img {
    border: 10px solid #006400;
}
