/* Place CSS styles here */

nav {
    text-align: left;
    margin-top: 10px
}

body {
    background: #90ee90;
    text-align: center;
    margin: auto;
    color: #5c2424;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    text-transform: uppercase;
}


a {
    color: #006400;
    border-radius: 2px;
}

a:focus-visible {
    outline: #006400 solid 2px;
}

p {
    color: #800080;
    text-align: left;
    line-height: 1.5;
}


nav a {
    font-weight: 600;
    margin-right: 4px;
    background-color: #006400;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.25s ease;
}

nav a:hover{
    background-color: #002500;
}

.turkey-wrapper {
    max-width: 800px;
    margin: 20px auto;
}

.intro-copy p {
    color: #c459e1;
}

.bg-img {
    /* https://css-tricks.com/tinted-images-multiple-backgrounds/ */
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(../img/castle-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-img h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    color:#bed43a;
    text-shadow: 1px 1px 2px black;
}

.title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
}

.no-word-bg-img {
    padding-top: 200px;
    padding-bottom: 200px;
}

.home-bg-img {
    background-image: url(../img/giz2.jpg);
}

.biggest {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.contact-label {
    text-align: center
}

.logo {
    max-width: 100px;
}

.home-caption {
    text-align: left;
}

.breakfast-list {
    list-style-position: inside;
}

img {
    border: 10px solid #006400;
}

.about-image {
    width: 400px;
    transition: all 0.35s ease;
}

.about-image:hover {
    box-shadow: 0px 0px 8px 0px #000000;
}


